@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-green: #35833f;
}

body {
  background-color: #fafdff !important;
}

a {
  color: #333;
  text-decoration: none;
  position: relative;
  transition: all 0.3s;
}

a:focus,
a:hover {
  color: #777;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-sans;
}

:active,
:focus {
  outline: none !important;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
}

#main-menu ul {
  margin: 20px 0px 10px;
  padding: 0;

  li {
    padding: 0 18px;
    display: inline-block;
    /* position: relative; */

    a {
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      color: #000;
      line-height: 42px;
      letter-spacing: 0.7px;
      text-decoration: none;
    }
  }
}

.brand-logo {
  margin-top: 10px;
  padding-top: 3px;
  display: inline-block;
}

.header-wrapper {
  padding: 13px 0;
}

section {
  position: relative;
}

.header-wrapper:after {
  content: '';
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0;
  position: absolute;
  z-index: -2;
  background: linear-gradient(
    to right,
    #fff 0,
    #eeeeee 35%,
    #eeeeee 65%,
    #fff 100%
  );
}

.about-us {
  h4 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
  }

  ul {
    padding-left: 18px;
  }

  li {
    list-style-type: square;
  }
}

.indexpage .see-all-wrapper {
  width: 100%;
}

.indexpage .see-all {
  @apply mx-auto block uppercase;
  width: 20vw;

  &:hover {
    text-decoration: none;
  }
}

@media only screen and (max-width: 800px) {
  .indexpage .see-all {
    font-size: 1.2rem;
    width: 40vw;
  }
}

.footer-wrapper {
  background-color: #d1d3d4;

  .copyright {
    margin-top: 10px;
  }

  a {
    @apply text-green hover:text-green;
    margin-top: 10px;
  }

  img {
    max-width: 200px;
  }
}

.greetings {
  font-size: 40px;
  font-weight: lighter;
  margin: 10px 0px;
}

.name {
  font-size: 36px;
  font-weight: 900;
  @media only screen and (min-width: 550px) {
    & {
      font-size: 46px;
    }
  }
}

.main-content {
  min-height: calc(100vh - 210px);
}

.pad-70 {
  padding: 70px 0px;
}

.pad-20 {
  padding: 20px 0px;
}

.pad-40 {
  padding: 40px 0px;
}

h2.section-title {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: bold;
  text-transform: uppercase;

  &:after {
    display: block;
    content: ' ';
    background: var(--color-green);
    height: 2px;
    width: 50px;
    margin: 20px auto 0 auto;
  }
}

article.business-listing {
  background-color: #fdfdfd;
  box-shadow: 0.3rem 0.4rem 2.4rem rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  padding: 20px 20px 10px;

  h2.entry-title {
    line-height: 20px;
    margin-bottom: 0px;
  }

  a {
    @apply font-sans text-green no-underline;
    font-size: 20px;

    &.entry-read-more {
      @apply inline-block w-full text-right font-bold uppercase;
      font-size: 18px;

      &:hover {
        color: #51a559;
      }
    }
  }

  .business-type {
    color: #808285;
    font-size: 0.9rem;
  }

  .entry-media {
    padding-bottom: 20px;
  }

  img {
    max-height: 200px;
  }

  .entry-content-bottom {
    padding-top: 10px;
  }
}

.business-detail {
  .business-name {
    @apply mb-0 mt-5 font-bold uppercase text-green;
    font-size: 30px;
  }

  .business-type {
    color: #808285;
  }

  .business-content {
    @apply mt-5 py-2.5;

    a {
      @apply text-green;
    }
  }
}

.photo-credit {
  @apply w-full text-right italic text-gray-500;
  font-size: 0.8rem;

  a {
    @apply text-green hover:text-green;
  }
}

.contactImage {
  background-image: url('/images/contact-bg.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  background: rgba(240, 250, 255, 0.8);
}

.wrap-contact100 {
  @apply flex flex-wrap justify-between overflow-hidden bg-white;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 3px 3px 5px #7f7f7f85;
}

.contact100-pic {
  width: 10rem;
  display: inline-block;
  padding-top: 85px;
  will-change: transform;
  transform: perspective(300px) rotateX(0deg) rotateY(0deg);
  transition: 0.4s ease-out;
  vertical-align: top;

  &:hover {
    transform: perspective(300px) rotateX(-1.58deg) rotateY(-4.46deg)
      scale3d(1.1, 1.1, 1.1);
  }
}

.contact-form {
  width: calc(100% - 10rem);
  display: inline-block;
  padding-left: 15%;

  h5 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .field {
    margin: 10px 0px;
    z-index: 1;
    position: relative;

    label {
      @apply block font-sans;
      margin-bottom: 5px;
      font-size: 16px;
    }

    input,
    textarea {
      @apply block w-full rounded-3xl border-none font-sans;
      background: #e6e6e6;
      font-size: 15px;
      line-height: 1.5;
      color: #666666;
      height: 50px;
      padding: 0 30px 0 50px;
    }

    textarea {
      height: 120px;
    }

    [type='file'] {
      @apply rounded-none bg-transparent pl-0;
    }
  }

  .actions {
    @apply my-5 flex gap-5;
  }
}

@media only screen and (max-width: 1000px) {
  .contact100-pic {
    text-align: center;
  }

  .contact100-pic,
  .contact-form {
    @apply mx-auto block w-full p-0;
  }
}

.contact100-form-btn,
.btn-outline {
  @apply inline-block w-full border-2 border-green bg-green text-center font-sans font-bold uppercase text-white outline-none;
  height: 50px;
  border-radius: 25px;
  font-size: 1.5rem;
  line-height: 50px;
  /* padding: 0 25px; */
  transition:
    background 0.4s,
    color 0.4s;

  &:disabled {
    opacity: 50%;
  }

  @media only screen and (max-width: 800px) {
    & {
      font-size: 1rem;
    }
  }
}

.btn-outline {
  @apply bg-transparent font-normal text-green hover:bg-green hover:text-white;
}

.contact100-form-btn:not(:disabled):hover {
  @apply bg-transparent text-green;
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  top: 28px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 50px;
  box-shadow: 0px 0px 0px 0px;
  color: #33a1d8;
}
@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 25px;
    opacity: 0;
  }
}

h4.success-msg {
  @apply w-full text-center uppercase;
  color: #07acff;
  font-weight: 700;
  font-size: 36px;
}

.article-list {
  padding: 0;
}

.backtohome.contact100-form-btn {
  @apply size-auto no-underline;
  padding: 5px 30px;
}

/** Social Media Sharing Buttons **/

.post-social {
  @apply flex w-full items-center justify-center gap-12 py-2;
  margin-bottom: 30px;

  .button {
    @apply inline-flex h-9 items-center whitespace-nowrap;

    .icon {
      @apply size-6;

      &:first-child:not(:last-child) {
        margin-left: calc(-0.375em - 1px);
        margin-right: 0.1875em;
      }
    }
  }
}

/*/ Social Media Sharing Buttons /*/

.social-share-image {
  border: 1px solid #58595b;
  margin: 0 auto;
  max-width: 40vw;

  @media only screen and (max-width: 600px) {
    & {
      max-width: 100%;
    }
  }
}

/******** Business Index ********/

/** Page **/
.business-index-page .section-title {
  margin-bottom: 0;
}
/*/ Page /*/

/** Facets **/
.facets {
  @apply flex flex-wrap justify-center;
  padding: 10px 0;

  .facet {
    @apply border border-green bg-transparent font-sans uppercase text-green outline-none hover:border-transparent hover:bg-green hover:text-white;
    border-radius: 25px;
    font-size: 1.2rem;
    line-height: 1;
    margin: 10px 5px;
    padding: 8px 25px 4px 25px;
    transition: all 0.4s;

    &.selected {
      @apply border-transparent bg-green text-white;
    }

    &:last-child {
      @apply w-36 appearance-none rounded-none;
      padding: 8px 15px 4px 15px;
    }
  }
}

/*/ Facets /*/

/******** Business Single ********/

/** Page Header **/
.top-content {
  @apply flex w-full flex-wrap items-center justify-between px-5 lg:flex-nowrap;
}

/*/ Page Header /*/

/** Sidebar **/
.sidebar-blk {
  background: #d1d3d4;
  box-shadow: 2px 2px 2px #f0faff;
  padding: 20px;
  position: sticky;
  top: 0;

  ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      margin-top: 20px;
      width: 100%;

      a {
        @apply font-sans;
        text-decoration: none;
        color: #002d52;
        line-height: 20px;
      }
    }
  }

  .category {
    text-transform: lowercase;
  }

  .related-image {
    background-color: transparent;
    box-shadow: none;
    float: left;
    height: 50px;
    margin: 0 15px 0 0;
    width: 70px;
  }

  .related-information {
    align-items: center;
    display: flex;
  }

  span.meta {
    display: block;
  }
}

/*/ Sidebar /*/
